{% extends 'chat/main.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="container">
        <div class="container">
            <br>
            <h3>@{{user.username}}</h3>
            <form class="d-flex" role="search" action="{% url 'home' %}" style="inline-size: 70%;" method="GET">
                <input class="form-control me-2" name="q" type="search" placeholder="Search In Inbox" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <hr>
            <div class="card" style="width: 8rem;">
                <div class="card-body">
                    <a href="{% url 'new-chat' 0 %}" class="btn btn-success">New Chat</a>
                </div>
            </div>
            <div class="container">
                <br>
                <h4>Chats</h4>
                {% for chat in chats %}
                <div class="card">
                    <div class="card-body">
                        {% if chat.user1 == request.user %}
                        <a class="btn btn-outline-dark" href="{% url 'chat' chat.id %}">@{{chat.user2.username}}</a>
                        {% else %}
                        <a class="btn btn-outline-dark" href="{% url 'chat' chat.id %}">@{{chat.user1.username}}</a>
                        {% endif %}
                    </div>
                </div>
                <br>
                {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="container">
        <br><br>
        <h2>Login</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" required name="username">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <br>
        <hr><br>
        <h4>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></h4>
    </div>
</div>
{% endif %}
{% endblock content %}